@charset "UTF-8";
 
@font-face {
    font-family: 'guerrilha';
    src: url('./fonts/AmericanCaptain.ttf');
    font-weight: normal;
    }
* {
    margin: 0px;
    padding: 0px;
    }

:root {
    --cor0: #c5ebd6; 
    --cor1: #83e1ad; 
    --cor2: #6b6b6b; 
    --cor3: #00000054;
    --cor4: #00000075;
    --cor5: #011309;
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-guerrilha: 'guerrilha', cursive;
    }

body{
    
    margin: 0;
    background-color: white;
    height: auto;
    width: auto;
}



h1{
    padding: 15px 0px 0px 10px;
    font-family:var(--fonte-guerrilha);
    font-size: 80px ;
    
}

hr{
    background-color: black;
    border:  3px solid;
    
}
.textbox{
    border-style: none;
    width: 300px;
    min-width: 100px;
    text-align: start;
    box-shadow: 0px 0px 8px #00000063;
    margin: 10px;
    padding: 6px;
    
}

.inputs{
    padding: 10px;
}

.textbox::placeholder{
  color: rgba(0, 0, 0, 0.24);
  font-size: 12.5pt;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.buttonbox{
    padding: 4px 17px;
    font-size: 12.5px;
    margin-left: 10px;

}

.panel{
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}
 
